/.idea
/.vscode
/node_modules
/vendor
/resources/assets/css/*
/resources/assets/js/*
/resources/assets/mix-manifest.json
/build
/npm-debug.log
/composer.lock
/package-lock.json
.phpunit.result.cache
.editorconfig
