/.githooks
/.github
/.idea
/.vscode
/build
/config
/database
/node_modules
/resources/json
/resources/lang
/resources/views
/routes
/src
/tests
/vendor
/images
.editorconfig
.gitignore
.gitattributes
.scrutinizer.yml
.styleci.yml
.travis.yml
composer.json
composer.lock
CHANGELOG.md
phpunit.xml.dist
