/.githooks
/.idea
/.vscode
/build
/composer.json
/composer.lock
/config
/database
/node_modules
/resources/json
/resources/lang
/resources/views
/routes
/src
/tests
/vendor
.editorconfig
.gitignore
.gitattributes
.scrutinizer.yml
.styleci.yml
.travis.yml
composer.json
CHANGELOG.md
phpunit.xml.dist
