@import '~material-dashboard/assets/scss/material-dashboard/variables/_colors.scss';

$themes: 'red' 'pink' 'purple' 'deep-purple' 'indigo' 'blue' 'light-blue' 'cyan' 'teal' 'green' 'light-green' 'lime' 'yellow' 'amber' 'orange' 'deep-orange' 'brown' 'grey' 'blue-grey';
$material-colors: (
    'red'           : $red,
    'pink'          : $pink,
    'purple'        : $purple,
    'deep-purple'   : $purple,
    'indigo'        : $indigo,
    'blue'          : $blue,
    'light-blue'    : $blue,
    'cyan'          : $cyan,
    'teal'          : $teal,
    'green'         : $green,
    'light-green'   : $green,
    'lime'          : $lime,
    'yellow'        : $yellow,
    'amber'         : $amber,
    'orange'        : $orange,
    'deep-orange'   : $orange,
    'brown'         : $brown,
    'grey'          : $grey,
    'blue-grey'     : $blue-grey
);

$material-colors-50: (
    'red'           : $red-50,
    'pink'          : $pink-50,
    'purple'        : $purple-50,
    'deep-purple'   : $purple-50,
    'indigo'        : $indigo-50,
    'blue'          : $blue-50,
    'light-blue'    : $blue-50,
    'cyan'          : $cyan-50,
    'teal'          : $teal-50,
    'green'         : $green-50,
    'light-green'   : $green-50,
    'lime'          : $lime-50,
    'yellow'        : $yellow-50,
    'amber'         : $amber-50,
    'orange'        : $orange-50,
    'deep-orange'   : $orange-50,
    'brown'         : $brown-50,
    'grey'          : $grey-50,
    'blue-grey'     : $blue-grey-50
);

$material-colors-100: (
    'red'           : $red-100,
    'pink'          : $pink-100,
    'purple'        : $purple-100,
    'deep-purple'   : $purple-100,
    'indigo'        : $indigo-100,
    'blue'          : $blue-100,
    'light-blue'    : $blue-100,
    'cyan'          : $cyan-100,
    'teal'          : $teal-100,
    'green'         : $green-100,
    'light-green'   : $green-100,
    'lime'          : $lime-100,
    'yellow'        : $yellow-100,
    'amber'         : $amber-100,
    'orange'        : $orange-100,
    'deep-orange'   : $orange-100,
    'brown'         : $brown-100,
    'grey'          : $grey-100,
    'blue-grey'     : $blue-grey-100
);

$material-colors-200: (
    'red'           : $red-200,
    'pink'          : $pink-200,
    'purple'        : $purple-200,
    'deep-purple'   : $purple-200,
    'indigo'        : $indigo-200,
    'blue'          : $blue-200,
    'light-blue'    : $blue-200,
    'cyan'          : $cyan-200,
    'teal'          : $teal-200,
    'green'         : $green-200,
    'light-green'   : $green-200,
    'lime'          : $lime-200,
    'yellow'        : $yellow-200,
    'amber'         : $amber-200,
    'orange'        : $orange-200,
    'deep-orange'   : $orange-200,
    'brown'         : $brown-200,
    'grey'          : $grey-200,
    'blue-grey'     : $blue-grey-200
);

$material-colors-300: (
    'red'           : $red-300,
    'pink'          : $pink-300,
    'purple'        : $purple-300,
    'deep-purple'   : $purple-300,
    'indigo'        : $indigo-300,
    'blue'          : $blue-300,
    'light-blue'    : $blue-300,
    'cyan'          : $cyan-300,
    'teal'          : $teal-300,
    'green'         : $green-300,
    'light-green'   : $green-300,
    'lime'          : $lime-300,
    'yellow'        : $yellow-300,
    'amber'         : $amber-300,
    'orange'        : $orange-300,
    'deep-orange'   : $orange-300,
    'brown'         : $brown-300,
    'grey'          : $grey-300,
    'blue-grey'     : $blue-grey-300
);

$material-colors-400: (
    'red'           : $red-400,
    'pink'          : $pink-400,
    'purple'        : $purple-400,
    'deep-purple'   : $purple-400,
    'indigo'        : $indigo-400,
    'blue'          : $blue-400,
    'light-blue'    : $blue-400,
    'cyan'          : $cyan-400,
    'teal'          : $teal-400,
    'green'         : $green-400,
    'light-green'   : $green-400,
    'lime'          : $lime-400,
    'yellow'        : $yellow-400,
    'amber'         : $amber-400,
    'orange'        : $orange-400,
    'deep-orange'   : $orange-400,
    'brown'         : $brown-400,
    'grey'          : $grey-400,
    'blue-grey'     : $blue-grey-400
);

$material-colors-500: (
    'red'           : $red-500,
    'pink'          : $pink-500,
    'purple'        : $purple-500,
    'deep-purple'   : $purple-500,
    'indigo'        : $indigo-500,
    'blue'          : $blue-500,
    'light-blue'    : $blue-500,
    'cyan'          : $cyan-500,
    'teal'          : $teal-500,
    'green'         : $green-500,
    'light-green'   : $green-500,
    'lime'          : $lime-500,
    'yellow'        : $yellow-500,
    'amber'         : $amber-500,
    'orange'        : $orange-500,
    'deep-orange'   : $orange-500,
    'brown'         : $brown-500,
    'grey'          : $grey-500,
    'blue-grey'     : $blue-grey-500
);

$material-colors-600: (
    'red'           : $red-600,
    'pink'          : $pink-600,
    'purple'        : $purple-600,
    'deep-purple'   : $purple-600,
    'indigo'        : $indigo-600,
    'blue'          : $blue-600,
    'light-blue'    : $blue-600,
    'cyan'          : $cyan-600,
    'teal'          : $teal-600,
    'green'         : $green-600,
    'light-green'   : $green-600,
    'lime'          : $lime-600,
    'yellow'        : $yellow-600,
    'amber'         : $amber-600,
    'orange'        : $orange-600,
    'deep-orange'   : $orange-600,
    'brown'         : $brown-600,
    'grey'          : $grey-600,
    'blue-grey'     : $blue-grey-600
);

$material-colors-700: (
    'red'           : $red-700,
    'pink'          : $pink-700,
    'purple'        : $purple-700,
    'deep-purple'   : $purple-700,
    'indigo'        : $indigo-700,
    'blue'          : $blue-700,
    'light-blue'    : $blue-700,
    'cyan'          : $cyan-700,
    'teal'          : $teal-700,
    'green'         : $green-700,
    'light-green'   : $green-700,
    'lime'          : $lime-700,
    'yellow'        : $yellow-700,
    'amber'         : $amber-700,
    'orange'        : $orange-700,
    'deep-orange'   : $orange-700,
    'brown'         : $brown-700,
    'grey'          : $grey-700,
    'blue-grey'     : $blue-grey-700
);

$material-colors-800: (
    'red'           : $red-800,
    'pink'          : $pink-800,
    'purple'        : $purple-800,
    'deep-purple'   : $purple-800,
    'indigo'        : $indigo-800,
    'blue'          : $blue-800,
    'light-blue'    : $blue-800,
    'cyan'          : $cyan-800,
    'teal'          : $teal-800,
    'green'         : $green-800,
    'light-green'   : $green-800,
    'lime'          : $lime-800,
    'yellow'        : $yellow-800,
    'amber'         : $amber-800,
    'orange'        : $orange-800,
    'deep-orange'   : $orange-800,
    'brown'         : $brown-800,
    'grey'          : $grey-800,
    'blue-grey'     : $blue-grey-800
);

$material-colors-900: (
    'red'           : $red-900,
    'pink'          : $pink-900,
    'purple'        : $purple-900,
    'deep-purple'   : $purple-900,
    'indigo'        : $indigo-900,
    'blue'          : $blue-900,
    'light-blue'    : $blue-900,
    'cyan'          : $cyan-900,
    'teal'          : $teal-900,
    'green'         : $green-900,
    'light-green'   : $green-900,
    'lime'          : $lime-900,
    'yellow'        : $yellow-900,
    'amber'         : $amber-900,
    'orange'        : $orange-900,
    'deep-orange'   : $orange-900,
    'brown'         : $brown-900,
    'grey'          : $grey-900,
    'blue-grey'     : $blue-grey-900
);

$material-colors-a100: (
    'red'           : $red-a100,
    'pink'          : $pink-a100,
    'purple'        : $purple-a100,
    'deep-purple'   : $purple-a100,
    'indigo'        : $indigo-a100,
    'blue'          : $blue-a100,
    'light-blue'    : $blue-a100,
    'cyan'          : $cyan-a100,
    'teal'          : $teal-a100,
    'green'         : $green-a100,
    'light-green'   : $green-a100,
    'lime'          : $lime-a100,
    'yellow'        : $yellow-a100,
    'amber'         : $amber-a100,
    'orange'        : $orange-a100,
    'deep-orange'   : $orange-a100,
    'brown'         : $brown-a100,
    'grey'          : $grey-a100,
    'blue-grey'     : $blue-grey-a100
);

$material-colors-a200: (
    'red'           : $red-a200,
    'pink'          : $pink-a200,
    'purple'        : $purple-a200,
    'deep-purple'   : $purple-a200,
    'indigo'        : $indigo-a200,
    'blue'          : $blue-a200,
    'light-blue'    : $blue-a200,
    'cyan'          : $cyan-a200,
    'teal'          : $teal-a200,
    'green'         : $green-a200,
    'light-green'   : $green-a200,
    'lime'          : $lime-a200,
    'yellow'        : $yellow-a200,
    'amber'         : $amber-a200,
    'orange'        : $orange-a200,
    'deep-orange'   : $orange-a200,
    'brown'         : $brown-a200,
    'grey'          : $grey-a200,
    'blue-grey'     : $blue-grey-a200
);

$material-colors-a400: (
    'red'           : $red-a400,
    'pink'          : $pink-a400,
    'purple'        : $purple-a400,
    'deep-purple'   : $purple-a400,
    'indigo'        : $indigo-a400,
    'blue'          : $blue-a400,
    'light-blue'    : $blue-a400,
    'cyan'          : $cyan-a400,
    'teal'          : $teal-a400,
    'green'         : $green-a400,
    'light-green'   : $green-a400,
    'lime'          : $lime-a400,
    'yellow'        : $yellow-a400,
    'amber'         : $amber-a400,
    'orange'        : $orange-a400,
    'deep-orange'   : $orange-a400,
    'brown'         : $brown-a400,
    'grey'          : $grey-a400,
    'blue-grey'     : $blue-grey-a400
);

$material-colors-a700: (
    'red'           : $red-a700,
    'pink'          : $pink-a700,
    'purple'        : $purple-a700,
    'deep-purple'   : $purple-a700,
    'indigo'        : $indigo-a700,
    'blue'          : $blue-a700,
    'light-blue'    : $blue-a700,
    'cyan'          : $cyan-a700,
    'teal'          : $teal-a700,
    'green'         : $green-a700,
    'light-green'   : $green-a700,
    'lime'          : $lime-a700,
    'yellow'        : $yellow-a700,
    'amber'         : $amber-a700,
    'orange'        : $orange-a700,
    'deep-orange'   : $orange-a700,
    'brown'         : $brown-a700,
    'grey'          : $grey-a700,
    'blue-grey'     : $blue-grey-a700
);
